@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" style="color: white; background: rgba(40, 77, 124, 0.7); border-radius: 20px; padding: 20px;">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div>
        <p>Use this area to provide additional information.</p>
    </div>
</main>