@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" style="color: white; background: rgba(40, 77, 124, 0.7); border-radius: 20px; padding: 10px;">
        <h1 id="title">Trahvide register</h1>
        <p class="lead" style="opacity: 50;">Trahvide registeris saate vaadata ja maksta oma trahve.</p>
        <p><a href="https://eteenindus.mnt.ee/public/soidukTaustakontroll.jsf" class="btn btn-primary btn-md" style="background-color: #2D287C; border: solid #2D287C 1px; ">Lisateabe saamine &raquo;</a></p>
    </section>
</main>